/*
* Global
*/
body {
  font-family: "Roboto Mono", monospace;
  a {
    cursor: pointer;
  }

  h1 {
    font-size: 2em;
  }
}

.float-right {
  float: right;
}

.error-message {
  color: red;
}
/*
* Page Container
*/
.container {
  margin: 10px;
}

/*
* Forms
*/
.form-group label,
.form-group input {
  display: block;
  font-size: 1.5em;
  margin: 4px;
}

/*
* Button
*/
.btn {
  background-color: #800080; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:disabled {
    background-color: #ddd;
  }
}

.btn.danger {
  background-color: red;
}

/*
* Icon
*/
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*
* Table
*/
.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #800080;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
}

/*
* Card
*/
.card {
  padding: 8px 16px;
  width: 100px;
  .btn {
    width: 400px;
    text-align: center;
  }
}
